# Ignore Python virtual environment
env_netlist/

# Optional: Ignore other common Python-related files
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# other
# config is now dynamicllay generated
/model_training/config.yaml
# Ignore model checkpoints
runs/
/old_detect_models
/program_test/model_test/outputs
/program_test/netlist_generator_algorithm_test/outputs
/model_training/yolo11n-pose.pt
/model_training/cvat_to_coco_keypoints/outputs
/program_test/intersection_detection
/current_trained_model
/model_training/data/labels/train.cache
/model_training/data/labels/val.cache
/program_test/netlist_generator_algorithm_test/processed_image
model_training/yolo11n.pt
model_training/data/labels/train.cache
model_training/data/labels/val.cache
